body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.task-completed {
  text-decoration: line-through;
}

.default-icon {
  height: 15px;
}

@keyframes FadeAnimation {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.flash-text {
  animation: FadeAnimation 1s ease-in .2s forwards;
}